<div class="weather-widget-container" *ngIf="!weatherError">
  <div *ngIf="weatherLoading" class="loading-spinner"></div>
  
  <div *ngIf="weather && !weatherLoading" class="weather-info">
    <img [src]="weatherIconUrl" [alt]="weatherDescription" class="weather-icon" />
    <span class="temperature">{{ weatherTemperatureC }}°C</span>
    <span class="separator">|</span>
    <span class="time">{{ currentTime | date:'shortTime' }}</span>
  </div>
</div>
<div *ngIf="weatherError" class="weather-error">
  <small>{{ weatherError }}</small>
</div>
